
@section scripts {
    @Scripts.Render("~/bundles/app")    
}

<div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>BookService</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Books</h2>
            </div>
            <div class="card-body">
                <ul class="list-unstyled" data-bind="foreach: books">
                    <li>
                        <strong><span data-bind="text: AuthorName"></span></strong>: <span data-bind="text: Title"></span>
                        <small><a href="#" data-bind="click: $parent.getBookDetail">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>
    <!-- ko if:detail() -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Detail</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Author</td>
                        <td data-bind="text: detail().AuthorName"></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td data-bind="text: detail().Title"></td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td data-bind="text: detail().Year"></td>
                    </tr>
                    <tr>
                        <td>Genre</td>
                        <td data-bind="text: detail().Genre"></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td data-bind="text: detail().Price"></td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
    <!-- /ko -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Add Book</h2>
            </div>
            <div class="card-body">
                <form data-bind="submit: addBook">
                    <div class="mb-3 row">
                        <label for="selectAuthor" class="col-sm-4 col-form-label">Author</label>
                        <div class="col-sm-8">
                            <select class="form-select" data-bind="options: authors, optionsText: 'Name', value: newBook.Author"></select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputTitle" class="col-sm-4 col-form-label">Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputTitle" data-bind="value: newBook.Title" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputYear" class="col-sm-4 col-form-label">Year</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="inputYear" data-bind="value: newBook.Year" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputGenre" class="col-sm-4 col-form-label">Genre</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputGenre" data-bind="value: newBook.Genre" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPrice" class="col-sm-4 col-form-label">Price</label>
                        <div class="col-sm-8">
                            <input type="number" step="any" class="form-control" id="inputPrice" data-bind="value: newBook.Price" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-end">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>